<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sysIpGroupItem">
            <h2><span>Sys Ip Group Item</span> {{sysIpGroupItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ip Group Item Id</span></dt>
                <dd>
                    <span>{{sysIpGroupItem.ipGroupItemId}}</span>
                </dd>
                <dt><span>Initial Ip</span></dt>
                <dd>
                    <span>{{sysIpGroupItem.initialIp}}</span>
                </dd>
                <dt><span>Final Ip</span></dt>
                <dd>
                    <span>{{sysIpGroupItem.finalIp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sys-ip-group-item', sysIpGroupItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
