<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sysUser">
            <h2><span>Sys User</span> {{sysUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{sysUser.userId}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{sysUser.status}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{sysUser.name}}</span>
                </dd>
                <dt><span>Sys Person</span></dt>
                <dd>
                    <div *ngIf="sysUser.sysPersonId">
                        <a [routerLink]="['/sys-person', sysUser.sysPersonId, 'view']">{{sysUser.sysPersonId}}</a>
                    </div>
                </dd>
                <dt><span>Group Id</span></dt>
                <dd>
                    <span *ngFor="let groupId of sysUser.groupIds; let last = last">
                        <a [routerLink]="['/sys-group', groupId?.id, 'view' ]">{{groupId.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Enterprise Id</span></dt>
                <dd>
                    <span *ngFor="let enterpriseId of sysUser.enterpriseIds; let last = last">
                        <a [routerLink]="['/sys-enterprise', enterpriseId?.id, 'view' ]">{{enterpriseId.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sys-user', sysUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
