<div>
    <h2 id="page-heading">
        <span>Sys Person Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-person-type" [routerLink]="['/sys-person-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sys Person Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sysPersonTypes?.length === 0">
        <span>No sysPersonTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="sysPersonTypes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Person Type Id</span></th>
            <th><span>Person Type Code</span></th>
            <th><span>Person Type Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysPersonType of sysPersonTypes ;trackBy: trackId">
                <td><a [routerLink]="['/sys-person-type', sysPersonType.id, 'view' ]">{{sysPersonType.id}}</a></td>
                <td>{{sysPersonType.personTypeId}}</td>
                <td>{{sysPersonType.personTypeCode}}</td>
                <td>{{sysPersonType.personTypeDescription}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sys-person-type', sysPersonType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sys-person-type', sysPersonType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sys-person-type', { outlets: { popup: sysPersonType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
