<div>
    <h2 id="page-heading">
        <span>Sys Accesses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-access" [routerLink]="['/sys-access/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sys Access
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sysAccesses?.length === 0">
        <span>No sysAccesses found</span>
    </div>
    <div class="table-responsive" *ngIf="sysAccesses?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Access Id</span></th>
            <th><span>Status</span></th>
            <th><span>Access</span></th>
            <th><span>Description</span></th>
            <th><span>Sys Module</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysAccess of sysAccesses ;trackBy: trackId">
                <td><a [routerLink]="['/sys-access', sysAccess.id, 'view' ]">{{sysAccess.id}}</a></td>
                <td>{{sysAccess.accessId}}</td>
                <td>{{sysAccess.status}}</td>
                <td>{{sysAccess.access}}</td>
                <td>{{sysAccess.description}}</td>
                <td>
                    <div *ngIf="sysAccess.sysModuleId">
                        <a [routerLink]="['../sys-module', sysAccess.sysModuleId , 'view' ]" >{{sysAccess.sysModuleId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sys-access', sysAccess.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sys-access', sysAccess.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sys-access', { outlets: { popup: sysAccess.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
